html{
    scroll-behavior: smooth;
}
.desktop{
    display: none;
}
/*Hamburger Menu */
.hamburger_icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--foreground);
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/*Mobile Navbar*/
.navbar_mobile{
    background: var(--background);
    z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #33353a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_items_container{
    margin-top: 35%;
    z-index: 1;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 80%;
    position: fixed;
}
.mobile_list_items{
    border-top: 1px solid var(--gold-color);
    border-bottom: 1px solid var(--gold-color);
    border-left: 1px solid var(--gold-color);
    background: var(--foreground);
    width: 0;
    transition: 0.5s;
}

.mobile-list-item{
    margin: 10px 0;
    padding: 10px 20px;
}
.mobile-list-item a{
    font-size: 2rem;
    color: var(--background);
    font-family: var(--MainFont);
}
#dark_light{
    width: 20%;
    color: red;
}
.dark_light_style{
    display: flex;
    background: var(--background);
}



/*Introduction Area */

.introduction_container{
   height: 100vh;
    padding: 40% 0 0 10px;
}


span{
    color: var(--foreground);
}
.special_a{
    height: 1.5rem;
}
.cursor{
    color: #f6f4f2;
}

.type_container span {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
}

.type_container  span.cursor {
    display: inline-block;
    background-color: var(--gold-color);
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.type_container  span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: var(--foreground); }
    49% { background-color: var(--foreground); }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: var(--foreground); }
}

.row{
    margin-top: 30px;


}
.project_row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.svg_icons{
    color: var(--foreground);
    margin: 0 8px;
    cursor: pointer;
}
.gold{
    color: var(--gold-color);
}


.btn_connect{
    margin-top: 15px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.2rem;
    background: transparent;
    color: var(--foreground);
    height: 45px;
    border: 2px solid var(--gold-color);

}
.transform_text{
    z-index: -1;
    opacity: 0.1;
    top: 40%;
    color: var(--foreground);
    font-size: 5rem;
    position: absolute;
    right: -10px;
    transform: rotate(90deg);
}
/*About section **************************** */
.about_container{
    margin-bottom: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
#about{
    scroll-margin-top: 200px;
}
#projects{
    scroll-margin-top: 100px;
}


/*PROJECTS SECTION ********************************* */

.projects_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}
.project{
    width: 90%;
    margin-bottom: 5rem;
}
.project_background {
    height: 250px;
    width: 100%;

    opacity: 0.6;
    margin: 10px 0;
}
.project_img{
    width: 100%;
}
.project_info{
    color: whitesmoke;
    background: #afafaf;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.tags_links{
    display: flex;
    flex-wrap: wrap;
}
.tag{
    background: var(--foreground);
    color: var(--background);
    padding: 4px 8px;
    margin: 0 5px;
    opacity: 0.8;
    border-radius: 50px;
}

.form_container{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form_container > h1{
    margin: 20px;
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
input , textarea{
    padding: 5px ;
    color: var(--gold-color);
    background: transparent;
    margin: 8px 0;
    font-size: 2rem;
    text-align: center;
    width: 95%;
}
#btnSent{
    margin: 5px 0;
    background: transparent;
    width: 50%;
    color: whitesmoke;
    font-size: 2rem;
}
textarea{
    width: 95%;
    font-size: 2rem;
}






