

@media screen and (min-width: 570px )
{
    .desktop{
        display: flex;
    }
    .mobile{
        display: none;
    }
    .navbar{
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_container_right{
        display: flex;
        align-items: center;
    }
    .list-items{
        display: flex;
    }
    .list-item{
        margin: 0 10px;
    }
    .list-item a{
        color: var(--foreground);
        font-family: var(--MainFont);
        font-size: 1.5rem;

    }
    .icon{

        margin: 0 10px;
        width: 5%;
    }
    .dark_light{
        cursor: grab;
        background: none;
        margin: 0 10px 0 2rem;
        height: 40px;
        width: 40px;
    }

    .btn_connect :hover{

        cursor: grab;
    }

    .introduction_container{
        padding: 5rem 0  0  5rem;

    }
    .introduction_container h1{
        font-size: 4.5rem;
    }
    .span_name{
        font-size:4.5rem;
    }
    .gold{
        font-size: 1.5rem;
    }
    .special_a{
        height: 50px;
    }
    .type_container span{
        font-size: 2.5rem;
    }
    .introductie_chalkBoard{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about_container{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #about{
        font-size: 3rem;
        width: 70%;
    }

    .rubi_img{

        width: 35%;
        height: 35%;
        margin-right: 15%;
        margin-top: 5%;
    }
    .btn_connect:hover{
        cursor: pointer;


    }
    .project_row{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .projects_container{
        width: 100%;

    }
    .project{
        width: 40%;
        margin: 1rem;
    }
    .tags_links{

    }


    .form_container{
        margin-top: 20%;
    }
    form{
        width: 40%;
    }


}






@media screen and (max-width: 850px){
    #about{
        width: 100%;
    }
}