*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: var(--background);
    color: var(--foreground);
}
:root{
    --clr-light: #f6f4f2;
    --clr-dark: #120e16;
    --gold-color: #a48936;
    --SecFont: 'Roboto', sans-serif;;
    --TitleFont :'Bowlby One SC', cursive;
    --MainFont : 'Inconsolata', monospace;
    --foreground : var(--clr-light);
    --background : var(--clr-dark);
}
.darkMode{

    --clr-light: #f6f4f2;
    --clr-dark: #120e16;
    --gold-color: #a48936;
    --SecFont: 'Roboto', sans-serif;;
    --TitleFont :'Bowlby One SC', cursive;
    --MainFont : 'Inconsolata', monospace;

    --foreground : var(--clr-dark);
    --background : var(--clr-light);

}
.pa-10{
    padding: 10px;
}
.icon{
    width: 20%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
